@import "~/assets/variables.less";

@font-face {
  font-family: "Press Start";
  src: url("~assets/press-start-font/prstart.ttf") format("truetype");
}

*, ::after, ::before {
  font-family: 'Press Start';
  box-sizing: border-box;
}


body {
  color: @text_color_white;
}