@import "~/assets/variables.less";

@font-face {
  font-family: "Press Start";
  src: url("~assets/press-start-font/prstart.ttf") format("truetype");
}

*, ::after, ::before {
  font-family: 'Press Start';
  box-sizing: border-box;
}


body {
  color: @text_color_white;
  font-size: @text_size_normal;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding: 8px;
  &:hover {
    border: 2px solid @text_color_yellow;
  }
}
