@bg_color: #0f0f0f;
@text_color_white: white;
@text_color_yellow: #ffff66;
@text_color_green: #90ee90;
@text_color_blue:  #b2ffff;
@text_color_red:  #ffc1cc;

@mobile_view_width: 680px;

@text_size_normal: 16px;
@text_size_header: 24px;
@text_size_title: 32px;
@text_size_small: 12px;
@text_size_large: 20px;

@spacing_small: 12px;
@spacing_normal: 16px;
@spacing_large: 24px;